@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "react-redux-toastr/lib/css/react-redux-toastr.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: white;
    text-decoration:none;
}

form {
    display: flex;
    flex-direction: column;
}